[submodule "include/spio/third_party/llfio"]
	path = include/spio/third_party/llfio
	url = https://github.com/ned14/llfio
[submodule "include/spio/third_party/gsl-lite"]
	path = include/spio/third_party/gsl-lite
	url = https://github.com/martinmoene/gsl-lite
[submodule "include/spio/third_party/fmt"]
	path = include/spio/third_party/fmt
	url = https://github.com/fmtlib/fmt
[submodule "tests/doctest"]
	path = tests/doctest
	url = https://github.com/onqtam/doctest
[submodule "benchmark/google-benchmark"]
	path = benchmark/google-benchmark
	url = https://github.com/google/benchmark
